@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

.overlap-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b9b9b9;
    padding: 20px;
    border-radius: 10px;
}

.button {
    margin-top: 10px;
    background-color: #b9b9b9;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px #666;
    transition: all 0.2s ease;
}

.button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.button:hover {
    background-color: #a9a9a9;
}

.overlap {
    background-color: #eeeeee;
    padding: 15px;
    border-radius: 20px;
}

.text-wrapper-2, .text-wrapper-3, .text-wrapper-4 {
    font-family: "M PLUS Code Latin", monospace;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
}

.text-wrapper, .div {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    color: #000000;
}

.text-wrapper {
    font-size: 20px;
}

.div {
    font-size: 17px;
}
